// ======= General ==========//
$maxWidth: 1920;
$minWidth: 320;
$maxWidthContainer: 1590;
$containerPadding: 30;

//======== Fonts ============//
$fontFamily: "Monserrat";
$fontSize: rem(14);

//========= Colors =============//
$mainColor: #000;

//========= Se
